{% load static %}

<section id="home">

    <div class="container col-xxl-8 px-4 py-5">

        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

            <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'images/profile_picture.jpeg' %}" class="rounded-circle img-fluid" alt="Profile Picture" width="250" height="250" loading="lazy">
            </div>

            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Mathew Meisinger</h1>
                <p class="lead">
                Software Developer, Data Analyst, and AI Enthusiast with a background in Critical Care Medicine.
                Passionate about building data-driven applications, solving complex problems, and creating technology that delivers real-world impact.
                </p>

                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="#projects" class="icon-link">My Projects<svg class="bi" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg> </a> 
                </div>

            </div>

        </div>

    </div>
</section>
